body {
    margin:0;
    padding:0;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Primeira parte*/
.slider{
    margin:0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
/*Segunda parte*/
.slides{
    width: 400%;
    height: 400px;
    display:flex;
}
/*Ocutei o display aqui*/
.slides input{
    display: none;
}
/*A edição das imagens começa aqui, ajustando sua posição*/
.slide{
    width: 25%;
    position:relative;
    transition: 1s;
}
/*Ajustando as imagens*/
.slide img{
    width: 800px;
}

.manual-navigation{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .05s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

/*cor das bolinhas, pretendo mudar para vermelho*/
.manual-btn:hover{
    background-color:white;
}

/*Primeira imagem*/
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}
/*OFIMDASIMAGENS*/
/*Colorindo as bolinhas*/
.navigation-auto div{
    border: 2px solid blue;
    padding:5px;
    border-radius:10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position:absolute;
    width: 800px;
    margin-top:360px;
    display: flex;
    justify-content:center;
}

.navigation-auto div:not(:Last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color:red;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:red;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:red;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color:red;
}






